body {
    font-family: Arial, sans-serif;
    background-image: url(gymniki.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: white;
}

.box {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.box:focus {
    border-color: #007BFF;
    outline: none;
}

#submit {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

#submit:hover {
    background-color: #0056b3;
}
